@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;600;700&display=swap");
:root {
  --hover-bg-color: hsl(231, 9%, 25%);
  --hover-secondary-bg-color: hsl(236, 40%, 25%);
  --main-bg-color: hsl(231, 30%, 37%);
  --secondary-bg-color: hsl(236, 26%, 16%);
  --main-color: hsl(35, 100%, 73%);
  --main-white-color: hsl(0, 0%, 100%);
  --transparent-color: transparent;
  --main-font-family: "Hanken Grotesk", sans-serif;
  --secondary-font-family: cursive;
  --border-color:hsl(231,31%, 29%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--secondary-font-family);
}
body {
  background-color: var(--main-bg-color);
  margin: 0;
}
/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--main-bg-color);
  height: 80px;
  color: var(--main-white-color);
}
.logo {
  align-self: center;
  margin-inline-start: 2%;
}
.logo span {
  font-size: 25px;
  font-weight: 500;
  font-family: var(--secondary-font-family);
}
nav {
  margin-inline-end: 2%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
ul.nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
ul.nav-list li a {
  position: relative;
  display: inline-block;
  padding: 8px 4px;
  margin-inline: 10px;
  text-decoration: none;
  color: var(--main-white-color);
  box-sizing: border-box;
  font-size: 15px;
  font-family: var(--main-font-family);
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
}
ul.nav-list li:first-child a {
  color: var(--main-color);
}
ul.nav-list li a::after{
  content: " ";
  width: 0%;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  bottom: 0;
  left: 0;
  transition-property: width;
  transition-duration: 600ms;
  transition-timing-function: ease;
  transition-delay: 0;
}
ul.nav-list li a:hover::after{
  width: 100%;
}
ul.nav-list li:last-child a {
  padding: 8px 10px;
  margin-inline: 0px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
ul.nav-list li:last-child a:hover::after{
  width:0%;
}
ul.nav-list li:last-child:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: var(--hover-bg-color);
}
/* .nav-item:hover {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
} */
li {
  list-style-type: none;
}
/* Hero Section */
.home {
  margin-top: -80px;
  background-image: url("../assets/imgs/BG-Img-HeroSection.png");
  background-color: var(--hover-main-bg-color);
  background-size: cover;
  height: 100vh;
}
section .container {
  padding-top: 100px;
  width: 80%;
  margin: auto;
}
section .container {
  width: 80%;
  margin: auto;
}
.home .container {
  display: flex;
  justify-content: center;
}
.header-info {
  padding-top: 80px;
  text-align: left;
  width:90%;
  display: flex;
  flex-direction: column;
}
.own-img {
  width: 30%;
  align-self: center;
}
.own-img img {
  height: 100%;
  width: 300px;
  max-width: 300px;
  border: 10px solid var(--border-color);
  box-shadow: 10px 10px 0px var(--main-color);
}
.home p {
  box-sizing: border-box;
  font-family: var(--secondary-font-family);
  font-weight: 600;
  margin-block-start: 20px;
  line-height: 27.2px;
  letter-spacing: 0.1px;
}
.home .top-title {
  color: var(--main-color);
  font-size: 40px;
  margin-block-end: 15px;
}
.home .desc {
  color: var(--main-white-color);
  font-size: 30px;
  margin-block-end: 0px;
}
.desc span {
  color: var(--main-color);
}
.home .title {
  color: var(--main-white-color);
  box-sizing: border-box;
  font-family: var(--secondary-font-family);
  font-size: 100px;
  font-weight: 600;
  margin-block-start: 10px;
  margin-block-end: 10px;
  line-height: 100px;
  letter-spacing: 1px;
  width: 100%;
}
section a.contact-btn {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: var(--main-bg-color);
  display: inline-block;
  align-self: flex-start;
  margin-inline-start: 0px;
  margin-top: 50px;
  padding: 15px 20px;
  font-weight: 500;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
section a.contact-btn:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  color: var(--main-color);
  background-color: var(--hover-bg-color);
}

@media screen and (max-width: 380px) {
  /* Navbar */
  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80px;
  }
  .logo {
    align-self: center;
    margin-inline-start: 2%;
  }
  .logo span {
    font-size: 18px;
  }
  li {
    list-style-type: none;
  }
  nav {
    width: 100%;
    margin-inline-end: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul.nav-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  ul.nav-list li a {
    padding: 4px 4px;
  margin-inline: 0px;
    text-decoration: none;
    color: var(--main-white-color);
    box-sizing: border-box;
    font-size: 12px;
  }
  /* Hero Section */
  section .container {
    padding-top: 0px;
    width: 80%;
    margin: auto;
  }
  section .container {
    width: 80%;
    margin-inline: auto;
  }
  .home .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .header-info {
    margin-top: 10px;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .own-img {
    width: 100%;
    width: 300px;
    max-width: 300px;
    align-self: center;
    padding-inline-end: 10px;
    padding-block-start: 20px;
    margin-block-end: 30px;
  }
  .own-img img {
    height: 100%;
    width: 100%;
  }
  .home p {
    margin-block-start: 0px;
    line-height: 27.2px;
    letter-spacing: 0.1px;
  }
  .home .top-title {
    font-size: 20px;
    margin-block-end: 0px;
  }
  .home .desc {
    font-size: 18px;
    margin-block-end: 0px;
  }
  .home .title {
    font-size: 28px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    line-height: 50px;
    letter-spacing: 1px;
    width: 100%;
  }
  section a.contact-btn {
    align-self: flex-start;
    margin-inline-start: 0px;
    margin-block: 10px;
    padding: 15px 20px;
  }
  ul.nav-list li:last-child a {
    padding: 2px 5px;
    margin-inline: 0px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
@media screen and (min-width: 380px) and (max-width: 577px) {
  /* Navbar */
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    height: 80px;
  }
  .logo {
    align-self: center;
    width: 25%;
    margin-inline-start: 2%;
  }
  .logo span {
    font-size: 13px;
  }
  nav {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-inline-end: 2%;
  }
  li {
    list-style-type: none;
  }
  ul.nav-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  ul.nav-list li a {
    padding: 4px 4px;
    text-decoration: none;
    color: var(--main-white-color);
    box-sizing: border-box;
    font-size: 12px;
  }
  /* Hero Section */
  section .container {
    padding-top: 5px;
    width: 70%;
    margin-inline: auto;
  }
  .home .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .header-info {
    margin-top: 10px;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .own-img {
    width: 100%;
    width: 300px;
    max-width: 300px;
    align-self: center;
    padding-inline-end: 10px;
    padding-block-start: 20px;
    margin-block-end: 30px;
  }
  .own-img img {
    height: 100%;
    width: 100%;
  }
  .home p {
    margin-block-start: 0px;
    line-height: 27.2px;
    letter-spacing: 0.1px;
  }
  .home .top-title {
    font-size: 20px;
    margin-block-end: 10px;
  }
  .home .desc {
    font-size: 20px;
    margin-block-end: 0px;
  }
  .home .title {
    font-size: 28px;
    margin-block-start: 10px;
    margin-block-end: 20px;
    line-height: 50px;
    letter-spacing: 1px;
    width: 100%;
  }
  section a.contact-btn {
    align-self: flex-start;
    margin-inline-start: 0px;
    margin-block: 30px;
    padding: 15px 20px;
  }
  ul.nav-list li:last-child a {
    padding: 2px 5px;
    margin-inline: 0px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  ul.nav-list li a {
    padding: 4px 4px;
    margin-inline: 0px;
    color: var(--main-white-color);
    box-sizing: border-box;
    font-size: 12px;
  }
  ul.nav-list li:last-child a {
    padding: 4px 6px;
    margin-inline: 0px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
@media screen and (min-width: 560px) and (max-width: 577px) {
  /* Navbar */
  .logo span {
    font-size: 25px;
  }
  ul.nav-list li a {
    font-size: 15px;
  }
}
@media screen and (min-width: 577px) and (max-width: 900px) {
  /* Hero Section */
  section .container {
    width: 80%;
    margin: auto;
  }
  .home .container {
    display: flex;
    justify-content: center;
  }
  .header-info {
    margin-top: 0px;
    text-align: left;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .own-img {
    width: 50%;
    width: 300px;
    max-width: 300px;
    align-self: center;
  }
  .own-img img {
    height: 100%;
    width: 100%;
  }
  .home p {
    margin-block-start: 0px;
    line-height: 27.2px;
    letter-spacing: 0.1px;
  }
  .home .top-title {
    font-size: 20px;
    margin-block-end: 10px;
  }
  .home .desc {
    font-size: 20px;
    margin-block-end: 0px;
  }
  .home .title {
    font-size: 30px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    line-height: 50px;
    letter-spacing: 1px;
    width: 100%;
  }
  section a.contact-btn {
    align-self: self-start;
    margin-inline-start: 0px;
    margin-block: 30px;
    padding: 15px 20px;
  }
}
@media screen and (min-width: 770px) and (max-width: 1100px) {
  .home .top-title {
    font-size: 30px;
    margin-block-end: 10px;
  }
  .home .desc {
    font-size: 30px;
    margin-block-end: 0px;
  }
  .home .title {
    font-size: 40px;
    margin-block-start: 10px;
    margin-block-end: 20px;
    line-height: 70px;
    letter-spacing: 1px;
    width: 100%;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1220px) {
  .home .top-title {
    font-size: 40px;
    margin-block-end: 10px;
  }
  .home .desc {
    font-size: 40px;
    margin-block-end: 0px;
  }
  .home .title {
    font-size: 60px;
    margin-block-start: 10px;
    margin-block-end: 20px;
    line-height: 70px;
    letter-spacing: 1px;
    width: 100%;
  }
}
